{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h2 id="user" hidden> {{request.user.id|json_script:"user_id"}} </h2>

<div class="all-posts" id="all-posts-title-id">
    <h1> Posts You Follow <h1>
</div>

<div class='all-posts'>
    {% for post in posts%}

    <div class="all-posts" id="{{post.id}}">
        <a href="{% url 'user_details' post.user.id %}">{{post.user}}</a><br>
        {% if post.user == request.user %}
        <button data-update="update-{{post.id}}" type="button">Edit</button><br>
        {% endif %}
        {{post.content}}<br>
        {{post.timestamp}}<br>

    </div>
    {% endfor %}
</div>

<nav aria-label="..." class="Following-posts-paginator">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endfor%}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">&raquo; Last</a></li>
        {% endif %}
    </ul>
</nav>

{% block script %}
<script src="{% static 'network/following.js' %}"></script>
{% endblock %}
{% endblock %}