{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h2 id="user" hidden> {{request.user.id|json_script:"user_id"}} </h2>

<div class="all-posts" id="all-posts-title-id">
    {% if following %}
    <h1> Following Feed <h1>
            {%endif%}

</div>

{% if not following %}
<div id='new-post-form'>
    <h1> All Posts <h1>
            <h2> New Post <h2>
                    <form id="post-form" action="{% url 'create' %}" method="POST">
                        {% csrf_token %}
                        <input id="form-input" name='form_input'>
                        <input id='submit-button' type="submit" class="btn btn-primary" value="Post" />
                    </form>
</div>
{%endif%}

<div class='all-posts'>
    {% for post in posts%}

    <div class="all-posts" id="{{post.id}}">
        <a href="{% url 'user_details' post.user.id %}">{{post.user}}</a><br>
        {% if post.user == request.user %}
        <button data-update="update-{{post.id}}" type="button">Edit</button><br>
        {% endif %}
        {{post.content}}<br>
        {{post.timestamp}}<br>



        <div id="like-unlike" value="{{like_unlike}}">
            {% for like in likes%}
            {%if post == like.post and request.user == like.user%}
            <div class='btn-liked'>
                <span id="btn-liked" onclick="likeUnlike(this, {{post.id}}, {{post.likes}})"
                    style="color:red;">&hearts;</span> |
                {%if post.likes == 1%}
                {{post.likes}} Like
                {%else%}
                {{post.likes}} Likes
                {%endif%}
            </div>
            {%else%}
            <div class="btn-unliked">
                <span id="btn-unliked" onclick="likeUnlike(this, {{post.id}}, {{post.likes}})"
                    style="color:black;">&hearts;</span>
                |
                {%if post.likes == 1%}
                {{post.likes}} Like
                {%else%}
                {{post.likes}} Likes
                {%endif%}
            </div>
            {%endif%}
            {%endfor%}

        </div>

    </div>
    {% endfor %}
</div>

<nav aria-label="..." class="all-posts-paginator">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endfor%}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">&raquo; Last</a></li>
        {% endif %}
    </ul>
</nav>

{% block script %}
<script src="{% static 'network/homepage.js' %}"></script>
{% endblock %}
{% endblock %}