{% extends "network/layout.html" %}
{% load static %}



{% block body %}

<h2 id="user" hidden> {{request.user.id|json_script:"user_id"}} </h2>

<div class="user-posts" id="user-profile-title">
    <h1> User Profile <h1>
</div>

<div id='new-post-form'>
    <h2> New Post <h2>
            <form id="post-form" action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                <input id="form-input" name='form_input'>
                <input id='submit-button' type="submit" class="btn btn-primary" value="Post" />
            </form>
</div>

<div class="user-posts" id="user-profile">
    <h1> PLACEHOLDER FOR FOLLOWERS/FOLLOWING <h1>
            {% for post in posts%}
            <div class='user-posts' id='{{post.id}}'>
                {% if users_page == request.user.id%}
                <button data-update="update-{{post.id}}" type="button">Edit</button><br>
                {%endif%}
                {{users_page}}This is the users page<br>
                {{post.user.id}}This should only be posts from the users page<br>
                {{post.content}}<br>
                {{post.timestamp}}<br>
            </div>

            {% endfor %}
</div>

<nav aria-label="..." class="user-post-paginator">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endfor%}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">&raquo; Last</a></li>
        {% endif %}
    </ul>
</nav>

<div class="user-details" id="users-page-id">
</div>


{% block script %}
<script src="{% static 'network/homepage.js' %}"></script>
{% endblock %}
{% endblock %}