{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<h2 id="user" hidden> {{request.user.id|json_script:"user_id"}} </h2>

<div class="user-posts" id="user-profile-title">
    {%if users_page.id == request.user.id%}
    <h1> My Profile <h1>
            {%else%}
            <h1> {{users_page.username}} Profile <h1>
                    {% endif %}
</div>

<div id='new-post-form'>
    <h2> New Post <h2>
            <form id="post-form" action="{% url 'create' %}" method="POST">
                {% csrf_token %}
                <input id="form-input" name='form_input'>
                <input id='submit-button' type="submit" class="btn btn-primary" value="Post" />
            </form>
</div>


<div class="user-posts" id="user-profile">
    {% if user.is_authenticated and users_page.id != request.user.id  %}
    {%if follows == False%}
    <button id="btn-follow" value="follow"
        onclick="followUnfollow(this, {{users_page.id}}, {{request.user.id}})">Follow</button>

    <button style="display:none" id="btn-unfollow" value="unfollow"
        onclick="followUnfollow(this, {{users_page.id}}, {{request.user.id}})">unfollow</button>

    {%else%}
    <button id="btn-unfollow" value="unfollow"
        onclick="followUnfollow(this, {{users_page.id}}, {{request.user.id}})">unfollow</button>

    <button style="display:none" id="btn-follow" value="follow"
        onclick="followUnfollow(this, {{users_page.id}}, {{request.user.id}})">Follow</button>
    {%endif%}
    {%endif%}
    {{following}} Following | {{followers}} Followers<br>
    {% for post in posts%}
    <div class='user-posts' id='{{post.id}}'>
        {% if users_page.id == request.user.id%}
        <button data-update="update-{{post.id}}" type="button">Edit</button><br>
        {%endif%}
        {{post.content}}<br>
        {{post.timestamp}}<br>
    </div>
    {% endfor %}
</div>

<nav aria-label="..." class="user-post-paginator">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
        {% endif %}

        {% for i in posts.paginator.page_range%}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {%endfor%}
        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">&raquo; Last</a>
        </li>
        {% endif %}
    </ul>
</nav>

{% block script %}
<script src="{% static 'network/user.js' %}"></script>
{% endblock %}
{% endblock %}