.all-posts {
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 5px;
    display: block;
}
.user-posts {
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 5px;
    display: block;
}
.all-posts-paginator{
    display: block;
}

