.all-posts-header {
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 5px;
    display: block;
}
.user-details {
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 5px;
    display: block;
}
.posts {
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 5px;
}
